<div id="footer" class="footer container">
	<div class="footer-logo">
		<a href="">
			<img src="http://percolate.com/static/images/logo_white.png" alt="Percolate">
		</a>
	</div>
	<nav class="footer-nav">
		<ul>
			<li><a href="#!">Contact</a></li>
			<li><a href="#!">Jobs</a></li>
			<li><a href="#!">Blog</a></li>
			<li><a href="#!">Terms of Service</a></li>
			<li><a href="#!">Privacy</a></li>
			<li class="copyright">© Percolate Industries, Inc.</li>
			<li><a href="#!">Made in NYC, SF, ATX & LDN</a></li>
		</ul>
	</nav>
</div>